﻿<template>
    <div>
        <div class="text-center" v-if="loading">Подождите, загрузка данных...</div>
    </div>
</template>

<script>
export default {
    name: "TourvisorModule",
    props: {
      loadTimeout: {
        type: Number,
        default: 0
      }
    },
    data: () => ({
        src: "/themes/pegast1_main/assets/js/tourvisior_init.js",
        loading: true
    }),

    mounted() {

        setTimeout(() => {
            const exist = document.querySelector("[hid='tourvisorModule']");

            if (!exist) {
                let externalScript = document.createElement("script");
                externalScript.setAttribute("src", this.src);
                externalScript.setAttribute("hid", "tourvisorModule");
                externalScript.setAttribute("async", true);
                document.head.appendChild(externalScript);
            }
            this.loading = false
        }, this.loadTimeout);
    }
};
</script>

<style></style>
