///
/// Eventually by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

.modal-vue-panel {
  color: _palette(bg);

  height: auto;

  p {
    color: _palette(bg);
  }

  h4 {
    margin: 25px 0;
    text-align: center;
    color: _palette(bg);
  }

  .modal-vue---close-icon {
    color: rgb(49, 48, 48);
  }
}

.tour-select-modal .wizard-tab-content {
  margin-bottom: 25px;
}

.tour-select-modal .vue-form-wizard .wizard-nav-pills {
  display: none !important;
}
