==
<!-- Begin LeadBack code {literal} -->
<script>
    var _emv = _emv || [];
    _emv["campaign"] = "58f5494e7f958baca7c9e7a2";
    setTimeout(()=> {

        (function() {
            var em = document.createElement("script");
            em.type = "text/javascript";
            em.async = true;
            em.src = ("https:" == document.location.protocol ? "https://" : "http://") + "leadback.ru/js/leadback.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(em, s);
        })();
    }, 2000)


</script>
<!-- End LeadBack code {/literal} -->


<!--Yandex.Metrika counter-->
<script type="text/javascript" >
    setTimeout(()=> {
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        ym(92344137, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    }, 1000)

 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/92344137" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!--/Yandex.Metrika counter-->

<script type="text/javascript">
    setTimeout(() =>{
        !function(){
            var t=document.createElement("script");
            t.type="text/javascript",t.async=!0,t.src='https://vk.com/js/api/openapi.js?169',
            t.onload=function()
            {VK.Retargeting.Init("VK-RTRG-1669109-47Wni"),VK.Retargeting.Hit()},
            document.head.appendChild(t)
        }();
    }, 2000)
</script>
<noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1669109-47Wni" style="position:fixed; left:-999px;" alt=""/></noscript>