.slick-slider .slick-prev {
    left: 25px;
    z-index: 2;
}

.slick-slider .slick-next {
    right: 25px;
    z-index: 2;
}

.v-easy-dialog--backdrop .v-easy-dialog--content-container {
    touch-action: auto !important;
}

.list-unstyled li {
    margin-bottom: 10px;
}