==
<?php
function onInit()
{
    $themePath = 'themes/' . $this->theme->getDirName();
    $this->layout['styles'] = url(mix('assets/css/styles.css', $themePath));
    $this->layout['scripts'] = url(mix('assets/js/scripts.js', $themePath));
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ this.page.title }} - Pegast1</title>

        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="description" content="{{ this.page.meta_description }}">

        <meta property="og:title" content="{{ this.page.meta_title }}" />
        <meta property="og:description" content="{{ this.page.meta_description }}" />

        <meta property="og:url" content="{{ url_current() }}" />
        <meta property="og:image" content="" />

        <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/png">

        <!-- Fonts -->
        <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" media="print" onload="this.media='all'" >

        <link href="{{ this.layout.styles }}" rel="stylesheet">

        {% styles %}

        {% partial 'header/metrics' %}

    </head>
    <body class="{{ this.page.bodyClass }}">
        <div id="app">

            {% partial 'header/header' %}

            {% if this.page.url != '/' %}
                {% partial 'breadcrumbs' %}
                <section class="inner-page pt-4">
                    <div class="container">
                        {% page %}
                    </div>
                </section>
            {% else %}
                {% page %}
            {% endif %}

            {% partial 'footer' %}
        </div>

        <script src="{{ this.layout.scripts }}"></script>

        {% framework extras %}

        {% scripts %}

    </body>
</html>