description = "Макет для лендингов"

==
<?php
function onInit()
{
    $themePath = 'themes/' . $this->theme->getDirName();
    $this->layout['styles'] = url(mix('assets/css/promo.css', $themePath));
    $this->layout['scripts'] = url(mix('assets/js/promo.js', $themePath));
    $this["officeCity"] = "Стерлитамак";
}
?>
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>

    <title>{{ this.page.title }} - Pegast1</title>


    <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/png">

    <link href="{{ this.layout.styles }}" rel="stylesheet">

    {% styles %}

    {% partial 'header/promo_metrics' %}

</head>

<body>
<!-- ToLine -->
<div id="top-line">
    <div class="logo">
        <img src="{{ 'assets/images/logo-slogan.svg'| theme }}" width="195px" height="60px" alt="Пегас Туристик Стерлитамак"/>
    </div>

    <div class="phone">
        <i class="fa fa-phone"></i>
        <span><a href="tel:+73473301305">+7 (3473) 301-305</a></span>
    </div>
</div>

<div id="content">
    {% page %}
</div>

<!-- Footer -->
<footer id="footer">
    <ul class="copyright">
        <li>&copy; 2019-2022 pegast1.ru. Все права защищены.</li>
        <li>г. Стерлитамак, ул. Строителей, 69. Офис Pegas Touristik</li>
        <li><a href="/about/agreement/" target="_blank">Согласие на обработку персональных данных</a></li>
    </ul>
</footer>

<!-- Scripts -->
<script src="{{ this.layout.scripts }}"></script>

{% framework extras %}
{% scripts %}

</body>
</html>
