==
<?
function onStart()
{
    $this->page['title'] = $this->recordDetail->name;
}
?>
==
<div class="card text-dark bg-light border-light">
    {% if __SELF__.recordDetail.preview_image %}
    <img class="card-img-top" alt="{{ __SELF__.recordDetail.name }}" src="{{ __SELF__.recordDetail.preview_image.getPath }}">
    {% elseif __SELF__.recordDetail.preview_image_media %}
    <img class="card-img-top" alt="{{ __SELF__.recordDetail.name }}" src="{{ __SELF__.recordDetail.preview_image_media|media }}">
    {% endif %}

    <div class="card-body">
        {{__SELF__.recordDetail.content|raw}}
    </div>
</div>
