<!DOCTYPE html>
<!--
	Eventually by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Туры в Таиланд из Уфы</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css" />

    <link rel="stylesheet" href="/assets/css/main.css?v=1" />

    <!-- Begin LeadBack code {literal} -->
    <script>
      var _emv = _emv || [];
      _emv["campaign"] = "58f5494e7f958baca7c9e7a2";

      (function() {
        var em = document.createElement("script");
        em.type = "text/javascript";
        em.async = true;
        em.src = ("https:" == document.location.protocol ? "https://" : "http://") + "leadback.ru/js/leadback.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(em, s);
      })();
    </script>
    <!-- End LeadBack code {/literal} -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function(m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function() {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)), (a = e.getElementsByTagName(t)[0]), (k.async = 1), (k.src = r), a.parentNode.insertBefore(k, a);
      })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(56685715, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
        ecommerce: "dataLayer"
      });
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/56685715" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
  </head>

  <body class="is-preload">
    <!-- ToLine -->
    <div id="top-line">
      <div class="logo">
        <img src="/images/logo.png" alt="Pegas Tours" />
      </div>

      <div class="phone">
        <i class="fa fa-phone"></i>
        <span><a href="tel:+73472469641">+7(347)246-96-41</a></span>
      </div>
    </div>

    <div id="content">
      <!-- Header -->
      <header id="header">
        <h1>Подбираем лучшие туры в Таиланд из Уфы, проверим?</h1>
        <p>
          Сэкономьте своё время и получите:
        </p>
        <ul>
          <li>лучшие предложения в вашем бюджете</li>
          <li>возможность выиграть путевку и другие ценные призы</li>
          <li>расширенную страховку в подарок!</li>
        </ul>
      </header>

      <!-- Signup Form -->
      <div id="tour-selection">
        <div class="action-line">
          <vue-modaltor
            class="tour-select-modal"
            :visible="show"
            @hide="hideModal"
            :animation-panel="'modal-slide-bottom'"
            bg-overlay="#00000054"
            bg-panel="#ffffff"
            :resize-width='{3000: "50%", 1500:"50%", 1200:"50%",992:"50%",768:"100%"}'
          >
            <h3 class="success" v-if="successMsg">{{ successMsg }}</h3>

            <form-wizard
              ref="selectForm"
              title=""
              step-size="xs"
              next-button-text="Дальше"
              back-button-text="Назад"
              finish-button-text="Отправить"
              color="#0061A3"
              subtitle=""
              @on-complete="submitForm()"
              v-if="!successMsg"
            >
              <wizard-step v-if="false" slot-scope="props" slot="step" :tab="props.tab" :index="props.index"> </wizard-step>

              <tab-content title="Дата вылета">
                <h4>Планируемая дата вылета</h4>
                <md-datepicker v-model="form.date" md-immediately />
              </tab-content>
              <tab-content title="Количество ночей">
                <h4>Укажите количество ночей</h4>
                <md-field>
                  <md-select v-model="form.nights">
                    <md-option :value="i" v-for="i in 30">{{ i }}</md-option>
                  </md-select>
                </md-field>
              </tab-content>
              <tab-content title="Взрослых">
                <h4>Сколько будет взрослых?</h4>
                <div class="md-layout md-gutter md-alignment-center-center">
                  <div class="md-layout-item text-center" v-for="i in 4">
                    <md-radio class="md-primary" v-model="form.adults" :value="i">{{i}}</md-radio>
                  </div>
                </div>
                <h4>Сколько будет детей?</h4>
                <div class="md-layout md-gutter md-alignment-center-center">
                  <div class="md-layout-item text-center" v-for="(i, idx) in 4">
                    <md-radio class="md-primary" v-model="form.childs" :value="idx">{{idx}}</md-radio>
                  </div>
                </div>
              </tab-content>
              <tab-content title="Ваше имя" :before-change="validate">
                <h4>Укажите Ваши контакты *</h4>
                <md-field :class="{'md-invalid': !formValid.name}">
                  <label>Ваше имя</label>
                  <md-input required v-model="form.name"></md-input>
                  <span class="md-error">Поле обязательное к заполнению</span>
                </md-field>
                <md-field :class="{'md-invalid': !formValid.phone}">
                  <label>Телефон</label>
                  <md-input required v-model="form.phone"></md-input>
                  <span class="md-error">Поле обязательное к заполнению</span>
                </md-field>

                <input type="hidden" name="country" value="Таиланд" />

                <md-checkbox v-model="agreement" required class="md-primary">Даю согласие на обработку персональных данных</md-checkbox>
              </tab-content>
              <div v-if="errorMsg">
                <span class="error">{{errorMsg}}</span>
              </div>

              <template slot="footer" slot-scope="props">
                <div class="wizard-footer-left">
                  <wizard-button v-if="props.activeTabIndex > 0 && !props.isLastStep" @click.native="props.prevTab()" :style="props.fillButtonStyle">Назад</wizard-button>
                </div>
                <div class="wizard-footer-right">
                  <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Дальше</wizard-button>

                  <wizard-button v-else @click.native="submitForm()" :disabled="loading" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">
                    {{props.isLastStep ? 'Отправить' : 'Дальше'}}</wizard-button
                  >
                </div>
              </template>
            </form-wizard>
            <template slot="close-icon">
              <i class="fa fa-times fa-2x"></i>
            </template>
          </vue-modaltor>
          <button @click="show=true" class="button button_large">
            Получить подборку
          </button>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <!-- <ul class="icons">
        <li>
          <a href="#" class="icon brands fa-vk"><span class="label">VK</span></a>
        </li>
        <li>
          <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
        </li>
        <li>
          <a href="#" class="icon fa-envelope"><span class="label">Email</span></a>
        </li>
      </ul> -->
      <ul class="copyright">
        <li>&copy; 2019-2020 pegast1.ru. Все права защищены.</li>
        <li>г. Уфа, ул. Ст. Кувыкина, 31 офис Pegas Touristik</li>
        <li><a href="/about/agreement/" target="_blank">Согласие на обработку персональных данных</a></li>
      </ul>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/main.js?v=1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.js"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script src="assets/js/vue-modaltor.js"></script>
    <script src="assets/js/components.js?v=1"></script>
  </body>
</html>
