<div class="container ">
    {% for record in __SELF__.items %}
    <div class="card mb-3">
        <div class="row g-0">
            {% if record.preview_image %}
            <div class="col-md-4">
                <img width="100%" alt="{{ record.name }}" src="{{ record.preview_image.getPath }}">
            </div>
            {% elseif record.preview_image_media %}
            <div class="col-md-4">
                <img width="100%" alt="{{ record.name }}" src="{{ record.preview_image_media|media }}">
            </div>
            {% endif %}


            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/{{__SELF__.property('areaSlug')}}/{{record.slug}}/">
                            {{ record.name }}
                        </a>
                    </h5>
                    <div class="card-text">
                        {{ record.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if __SELF__.property('allowLimit') %}
    <div>
        {{ __SELF__.items.render|raw }}
    </div>
    {% endif %}


</div>
