<template>
    <div>
        <div class="nav nav-pills nav-fill mb-3">
            <a v-for="tab in tabs" class="nav-link" :class="{ 'active': tab.isActive }" :href="tab.href" @click.prevent="selectTab(tab)">{{ tab.name }}</a>
        </div>
        <div class="tab-content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Tabs",
        data() {
            return {tabs: []};
        },
        created() {

            this.tabs = this.$children;

        },
        methods: {
            selectTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name == selectedTab.name);
                });
            }
        }
    }
</script>
