<template>
    <div id="tour-selection">
        <div class="action-line">
            <button type="button" :class="btnClass" @click="simpleDialog = true"> Получить подборку</button>
            <button v-if="url" @click="goToSearchPage()" class="button button_large">
                Поиск тура
            </button>

            <v-easy-dialog v-model="simpleDialog" width="780" backgroundBtnTag="a">\
                <div class="dialog_wrap">
                    <div class="close_btn"><a href="javascript:void(0)"><i @click="simpleDialog = false" class="fas fa-times"></i></a></div>

                    <div id="booking">
                        <div class="booking-form">
                            <div class="booking-bg"></div>
                            <div class="form-inner">

                                <form ref="pickUpForm" @submit.prevent="onSubmitFormHandler()">

                                    <input type="hidden" name="office_city" v-model="officeCity">

                                    <div class="form-header">
                                        <h2>Заявка на подбор тура</h2>
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Куда</span>
                                        <input class="form-control" name="country" :value="country" type="text" required/>
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Ваше имя*</span>
                                        <input class="form-control" name="name" type="text" placeholder="Введите имя" required>
                                        <div data-validate-for="name"></div>
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Телефон*</span>
                                        <input class="form-control" name="phone" type="tel" placeholder="Введите ваш номер телефона" required>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" checked name="agreement" class="custom-control-input" id="agreement" value="1" required>
                                        <label class="custom-control-label" for="agreement">Даю согласие на обработку персональных данных*</label>
                                    </div>

                                    <div class="form-btn">
                                        <button type="submit" :disabled="loading" class="submit-btn">{{loading ? 'Подождите..' : 'Отправить заявку'}}</button>
                                    </div>


                                    <div class="form-messages" v-if="message">
                                        <p :class="{'error': hasError, 'success': !hasError}" v-html="message">
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </v-easy-dialog>
        </div>
    </div>
</template>

<script>
    import VEasyDialog from 'v-easy-dialog'

    export default {
        name: "PickMeTourForm",
        components: {
            VEasyDialog
        },

        props: {
            country: {
                type: String,
                default: ""
            },
            officeCity: {
                type: String,
                default: "Уфа"
            },
            url: {
                type: String,
                default: ""
            },
            btnClass: {
                type: String,
                default: "button button_large mb-15"
            },
        },

        data() {
            return {
                simpleDialog: false,
                hasError: false,
                message: "",
                loading: false
            }
        },

        methods: {
            async onSubmitFormHandler() {
                this.hasError = false;
                this.message = "";
                this.loading = true;

                const fd = new FormData(this.$refs.pickUpForm);

                try {
                    const response = await fetch('/api/v1/sendPickUpForm', {
                        method: 'POST',
                        body: fd
                    });
                    const data = await response.json();

                    if (data.success) {
                        this.message = "Заявка успешно отправлена!"
                        window.ym(66187795, "reachGoal", "send_tour_form");
                        this.$refs.pickUpForm.reset();

                        setTimeout(() => {
                            this.simpleDialog = false;
                        }, 1000)
                    }
                } catch (e) {
                    this.hasError = true;

                    if (e.response) {
                        this.message = e.response.data.errors ? e.response.data.errors.join('<br/>') : "Ошибка сервера";
                    }
                }

                this.loading = false;
            },

            goToSearchPage() {
                location.href = this.url;
            },
        }
    }
</script>

<style>
    .close_btn {
        position: absolute;
        right: 15px;
        top: 5px;
        color: #b5c1cc;
        z-index: 2;
        cursor: pointer;
    }


    .success {
        color: #4caf50;
    }

    .v-easy-dialog--content-container {
        touch-action: auto !important;
    }
</style>
