<template>
    <div class="card text-dark bg-light border-light">
        <div class="card-body">
            <tabs>
                <tab v-for="(item, indx) in items" :name="item.name" :key="item.id" :selected="indx === 1">
                    <template #default="{ active }">
                        <ul class="list-group mb-3">
                            <li v-for="attr in item.attributes" :key="`attr_${attr.id}`" class="list-group-item list-group-item-light"><strong>{{ attr.name }}:</strong> {{ attr.pivot[`value_${attr.value_type}`] }}</li>
                        </ul>

                        <div class="container">
                            <div class="row">
                                <div class="col" v-viewer.static>
                                    <VueSlickCarousel v-if="active && item.images.length" class="mb-5" v-bind="settings" :arrows="true" :dots="true">
                                        <div v-for="image in item.images" :key="`image_${image.id}`" class="mx-3">
                                            <img class="thumbnail" height="200px" :src="image.path"/>
                                        </div>
                                    </VueSlickCarousel>
                                </div>
                            </div>
                        </div>

                        <script
                            v-if="item.description"
                            type="application/javascript"
                            charset="utf-8"
                            async
                            :src="item.description"
                        ></script>
                    </template>

                </tab>
            </tabs>

        </div>
    </div>
</template>

<script>
    import Tabs from "./Tabs/Tabs";
    import Tab from "./Tabs/Tab";
    import VueSlickCarousel from 'vue-slick-carousel'
    // optional style for arrows & dots
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'


    export default {
        name: "ContactTabs",
        components: {Tabs, Tab, VueSlickCarousel},
        props: {
            items: {
                type: Array,
                default: () => []
            }
        },

        data() {
            return {
                settings: {
                    "dots": true,
                    // "infinite": true,
                    "speed": 500,
                    "slidesToShow": 3,
                    "variableWidth": true,
                    "adaptiveHeight": true,
                    "responsive": [
                        {
                            "breakpoint": 1024,
                            "settings": {
                                "slidesToShow": 3,
                                "slidesToScroll": 3,
                                "infinite": true,
                                "dots": true
                            }
                        },
                        {
                            "breakpoint": 600,
                            "settings": {
                                "slidesToShow": 2,
                                "slidesToScroll": 2,
                                "initialSlide": 2
                            }
                        },
                        {
                            "breakpoint": 480,
                            "settings": {
                                "slidesToShow": 1,
                                "slidesToScroll": 1
                            }
                        }
                    ]
                }
            }
        }
    };
</script>

<style>
    .slick-prev:before, .slick-next:before {
        color: #444444;
    }
</style>
