<template>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <VueSlickCarousel class="main-slider" v-bind="settings" :arrows="true" :dots="true" autoplay>
                    <div v-for="item in items" :key="`slider_${item.id}`">
                        <a :href="itemUrl(item)">
                            <picture>
                                <source :srcset="`/storage/app/media${item.preview_image_media}`" type="image/webp">
                                <source :srcset="`/storage/app/media${item.preview_image_media}`" type="image/jpeg">
                                <img :src="`/storage/app/media${item.preview_image_media}`"/>
                            </picture>
                        </a>
                    </div>
                </VueSlickCarousel>
            </div>
        </div>

    </div>
</template>

<script>
    import VueSlickCarousel from 'vue-slick-carousel'
    // optional style for arrows & dots
    import 'vue-slick-carousel/dist/vue-slick-carousel.css'
    import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

    export default {
        name: "MainSlider",
        props: ["items"],
        components: {
            VueSlickCarousel
        },


        data: () => ({
            settings: {
                dots: true,
                slidesToShow: 1,
                // centerMode: true,
                // centerPadding: "50px",
                lazyLoad: "ondemand",
                mobileFirst: true,
            }
        }),
        mounted() {
            console.log("Component mounted.");
        },

        methods: {
            itemUrl(item) {
                return item.url || `/news/${item.slug}`;
            }
        }

    };
</script>

<style scoped>
    .slick-slide img {
        width: 100%;
    }
</style>
