[viewBag]

[breadcrumbs]
main-ol-class = "pegast_breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<!-- ======= Breadcrumbs Section ======= -->
<section class="breadcrumbs">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-6">
                <h2 id="pageTitle">{{ this.page.title}}</h2>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                {% component 'breadcrumbs' %}
            </div>
        </div>

    </div>
</section><!-- End Breadcrumbs Section -->
