[viewBag]
==
<?
use JanVince\SmallRecords\Models\Record;
function onStart()
{
    $records = Record::isActive()->area('office')->get();
    $offices = array();

    foreach($records as $office) {
        $item = $office->toArray();
        $item["attributes"] = array_filter(array_map(function($attr) {
            if(! in_array($attr["slug"], ["address", "phone", "email"])) return false;

            return array(
                "name"  => $attr["name"],
                "slug"  => $attr["slug"],
                "value" => $attr["pivot"][ "value_" . $attr["value_type"] ]
            );
        }, $office->attributes()->get()->toArray()));

        $offices[] = $item;
    }
    $this["offices"] = $offices;
}
?>
==
<!-- ======= Contact Section ======= -->
<section id="contact" class="wow fadeInUp bg-light bg-gradient">
    <div class="container">
        {% for office in offices  %}
        <div class="title">{{ office.name }}</div>
        <div class="row contact-info">
            {% for attribute in office.attributes  %}
            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>{{ attribute.name }}</h3>
                    <address>{{ attribute.value }}</address>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="row">
            <div class="col social-links d-flex justify-content-center">
                <a href="https://wa.me/79371524161" class="google-plus" target="_blank"><i class="fab fa-vk"></i></a>
                <a href="https://vk.com/ufapegas1" class="linkedin" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://t.me/ufapegas1" class="linkedin" target="_blank"><i class="fab fa-telegram"></i></a>
            </div>
        </div>
    </div>

</section><!-- End Contact Section -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Pegast1.ru</strong>. Все права защищены
        </div>
        <div class="credits">
            <a href="/about/agreement">Согласие на обработку персональных данных</a>
        </div>
    </div>
</footer><!-- End Footer -->
