title = "Страница не найдена (404)"
url = "/404"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
==
<div class="jumbotron">
    <div class="container">
        <h1>Страница не найдена</h1>
        <p>Проверьте, правильно ли введено адрес страницы. Либо перейдите на <a href="/">главную страницу</a></p>
    </div>
</div>