title = "Согласие на обработку персональных данных"
url = "/about/agreement"
layout = "default"
description = "Согласие на обработку персональных данных"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
==
<p>Пользуясь данным интернет ресурсом, в порядке <a href="http://www.consultant.ru/document/cons_doc_LAW_61801/6c94959bc017ac80140621762d2ac59f6006b08c/"
                                                    target="_blank">ст. 9 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных»</a> (далее
    – ФЗ «О персональных данных») свободно своей волей и в своих интересах пользователь сайта
    https://pegast.ru/ даёт согласие на автоматизированную, а также без использования средств автоматизации
    обработку в т.ч., но, не ограничиваясь, передачу (в т.ч. трансграничную передачу, в т.ч., но, не
    ограничиваясь, на трансграничную передачу персональных данных на территории стран, не обеспечивающих
    адекватную защиту персональных данных) и обработку своих персональных данных (фамилия, имя, отчество;
    год, месяц, день рождения; пол; паспортные данные (серия, номер, дата выдачи, наименование органа,
    выдавшего документ; биометрические персональные данные, содержащиеся в заграничном паспорте Российской
    Федерации) и гражданство; адрес места жительства (по паспорту и фактический), номер домашнего и
    мобильного телефона; номер заграничного паспорта и срок его действия; фамилия и имя, как они указаны в
    загранпаспорте; сведения, запрашиваемые консульскими службами посольства страны планируемого посещения
    для рассмотрения вопроса о выдаче визы; иная информация), при использовании интернет ресурса
    https://pegast.ru/ передачу (в т.ч. в сторонние сервисы анализа посетителей Яндекс, Mail.ru и
    Liveinternet.ru) и обработку данных о посетителе (а именно IP-адрес, предполагаемое географическое
    положение, возраст, пол, версия браузера, разрешение дисплея, версия операционной системы и
    вспомогательного программного обеспечения, модель устройства, ресурсы, поисковые системы, фразы,
    баннеры, с которых был переход на сайт, список посещённых страниц и проведённое время на сайте), а
    именно - совершение действий, предусмотренных <a href="http://www.consultant.ru/document/cons_doc_LAW_61801/4f41fe599ce341751e4e34dc50a4b676674c1416/"
                                                     target="_blank">ст. 3 ФЗ «О персональных данных»</a>, содержащихся в настоящем Согласии.</p>
<p>

</p>
<p>Согласие может быть отозвано пользователем в письменной форме.</p>
<p>Также пользователь подтверждает, что ознакомлен (а) с правами субъектов персональных данных,
    закрепленными в <a href="http://www.consultant.ru/document/cons_doc_LAW_61801/3ec53031c47840d320df01e8cfd03c8090c7a3fb/"
                       target="_blank">главе 3 ФЗ «О персональных данных»</a>. </p>