title = "Главная"
url = "/"
layout = "default"
meta_title = "Салон горящих путевок"
meta_description = "Горящие туры, поиск туров,"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
crumb_title = "Главная"
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
==
<?php
function onStart()
{
    $this->page['bodyClass'] = 'home';
}
?>
==
{% partial 'header/slider' %}

<main id="main">

    <section id="search" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Поиск туров</h2>
                <tourvisor-module :load-timeout="3000" class="tv-search-form tv-moduleid-196898"></tourvisor-module>
            </div>
        </div>
    </section>

        <section id="turkey" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>ГОРЯЩИЕ ТУРЫ ИЗ УФЫ</h2>
                </div>
                <tourvisor-module :load-timeout="3000" class="tv-hot-tours tv-moduleid-997763"></tourvisor-module>
            </div>
        </section>

        <section id="zanzibar" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Поиск туров из Уфы</h2>
                </div>
                <tourvisor-module :load-timeout="3000" class="tv-hot-tours tv-moduleid-997764"></tourvisor-module>
            </div>
        </section>

    <section id="oae" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>О КОМПАНИИ ПЕГАС ТУРИСТИК</h2>
            </div>

            <p>Туристическая компания «Pegas Touristik» – один из лидеров российской туристической отрасли и одна из крупнейших международных туристических компаний. История компании началась в последней четверти ХХ века. Штаб-квартира
                расположена в Москве. Компания основана в 1994 году.</p>
            <p>Мы предоставляем своим клиентам: - Туры в Турцию, туры в Сочи, туры в Крым, туры в ОАЭ, туры в Занзибар, туры все включено, туры в Стамбул, доступные туры, туры из Уфы 2021, путёвки из Уфы и др.</p>
            <p>Мы сотрудничаем только с проверенными туроператорами: Пегас Туристик, Анекс Тур, Корал Тревел, Санмар, Туи, Тез Тур, Интурист, Библиоглобус и др.</p>
        </div>
    </section>

</main><!-- End #main -->
