* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

#booking {
    font-family: 'Cabin', sans-serif;
    background-color: #f7f9fa;
}

.booking-form {
    position: relative;
    max-width: 760px;
    width: 100%;
    margin: auto;
    background: #fff;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.booking-form > .booking-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 250px;
    background-image: url('/themes/pegast1_main/assets/images/promo/form_bg.jpg');
    background-size: cover;
    background-position: center;
}

.booking-form > .form-inner {
    margin-left: 250px;
    padding: 30px;
    border: 1px solid #f9fafc;
    border-left: 0px;
}

.booking-form .form-header {
    margin-bottom: 30px;
}

.booking-form .form-header h2 {
    margin: 0;
    margin-bottom: 0px;
    font-weight: 700;
    color: #122244;
    font-size: 35px;
    text-transform: capitalize;
}

.booking-form .form-header h3 {
    margin: 0;
    margin-bottom: 0px;
    font-weight: 700;
    color: #122244;
    font-size: 25px;
    text-transform: capitalize;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.booking-form .form-control {
    display: block;
    width: 100%;
    background-color: #f7f9fa;
    height: 40px;
    padding: 0px 10px;
    border-radius: 0px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #122244;
    border: 0px;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
    box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form .form-control::-webkit-input-placeholder {
    color: #dde3e8;
}

.booking-form .form-control:-ms-input-placeholder {
    color: #dde3e8;
}

.booking-form .form-control::placeholder {
    color: #dde3e8;
}

.booking-form .form-control:focus {
    -webkit-box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
    box-shadow: inset 0 1px 4px rgba(181, 193, 204, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
    color: #dde3e8;
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking-form select.form-control + .select-arrow {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
}

.booking-form select.form-control + .select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #dddee9;
    font-size: 14px;
}

.booking-form .form-label {
    color: #b5c1cc;
    font-weight: 700;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-transform: uppercase;
    line-height: 24px;
    height: 24px;
    font-size: 14px;
    z-index: 1;
}

.booking-form .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.booking-form .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.booking-form .custom-control-label {
    margin-bottom: 0;
    color: #b5c1cc
}

.booking-form .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.booking-form .custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.booking-form .custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.booking-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
    color: #fff;
}

.booking-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}


.booking-form .form-btn {
    margin-top: 10px;
}

.booking-form .submit-btn {
    color: #fff;
    background-color: #6499ff;
    font-weight: 700;
    padding: 13px 35px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.booking-form .form-messages p {
    margin: 5px 0;
}

.col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
}

@media only screen and (max-width: 480px) {
    .booking-form > .booking-bg {
        display: none;
    }
    .booking-form > .form-inner {
        margin-left: 0px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
        line-height: 34px;
    }
}
