///
/// Eventually by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Top-line */

#top-line {
  @include vendor("display", "flex");
  @include vendor("justify-content", "space-between");

  .logo img {
    width: 300px;
  }

  .phone {
    @include vendor("display", "flex");
    @include vendor("align-items", "center");

    a {
      color: #ffffff;
    }
    a:hover {
      color: #d8d8d8 !important;
      text-decoration: none;
    }

    i {
      font-size: 1.5em;
      margin-right: 15px;
    }

    span {
      font-size: 2em;
      font-weight: bold;
    }
  }

  @include breakpoint("<=small") {
    @include vendor("flex-direction", "column");
    @include vendor("align-items", "center");
    margin-bottom: 20px;
  }

  @include breakpoint("<=xsmall") {
    margin: 0 0 (_size(element-margin) * 2) 0;

    .logo {
      margin-bottom: 20px;
    }
  }
}
